<div>
  <p>Filter Games by Average Rating:</p>
  <%= form_tag("/games", method: "get") do %>
    <%= select_tag "game", options_from_collection_for_select(@games, "average_rating", "average_rating"), include_blank: true%>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<br>

<% if !params[:game].blank? %>
	<% @games = [] %>
	<% Game.all.each do |g| %>
			<% if g.average_rating == params[:game].to_i %>
				<% @games << g %>
			<% end %>
		<% end %>
<% end %>

<h4>Games:</h4>
<div class="columns">
	<div>
<% @games.each do |g| %>
	<%= link_to g.name, game_path(g.id) %><br>
<% end %>
</div>
<div>
<%= link_to "Add a New Game", new_game_path %><br>
</div>
</div>
