<h1><%= @game.name %></h1>
Release Year:<%= @game.release_year %><br>
Available On: <% @game.consoles.each do |c| %>
					<%= c.name %>
				<% end %>

<div class="avg-rating">
	<p> Average Rating: </p>
	<% sum = 0 %>
	<% @game.reviews.each do |r| %>
		<% sum = sum + r.rating %>
	<% end %>
	<%= sum/@game.reviews.count if @game.reviews.count > 0 %>
</div>

<div class="review-box">
	<a href="/games/:id/reviews/new">Review This Game</a>
</div>

<div class="reviews">
	<% @game.reviews.each do |r| %>
		<% user = User.find(r.user_id) %>
		<p><%= link_to user.name, user_path(user) %> rates this game <%= r.rating %>. Their review is: <%= r.content %>.</p>
	<% end %>
</div>
